<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549880442625-lkhdv50cro3fpeacc6frlmdc6oh7p3cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549880442625-lkhdv50cro3fpeacc6frlmdc6oh7p3cd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549880442625-2q3vnibrna4p9btqj8fenrlgahvkojm9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0YzD8nM3J9ReBTzDMq46wbyKCjSSrvEw</string>
	<key>GCM_SENDER_ID</key>
	<string>549880442625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodie</string>
	<key>PROJECT_ID</key>
	<string>cz3002-foodie</string>
	<key>STORAGE_BUCKET</key>
	<string>cz3002-foodie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549880442625:ios:a5d00450cf312009ba7500</string>
	<key>DATABASE_URL</key>
	<string>https://cz3002-foodie.firebaseio.com</string>
</dict>
</plist>